{% extends "layout.html" %}
{% block content %}
    <div class="site-content"></div><div class="page-search-results">
    <div class="search-group-container">
        <form class="page-search-group">
            <input type="text" class="page-search" value="{{ word }}" name="word" placeholder="Дума" method="GET" action="/search">
            <button type="submit" class="page-search-button">
                <i class="fas fa-search"></i>
                <span>Търси</span>
            </button>
        </form>
    </div>
    <div class="form-recognition-suggestions">
        {% if not no_pattern_dict %}
        <div class="form-suggestion" style='padding-top: 1em;'>
            <p class="suggestion-lemma">Няма съвпадение. (-v.v-) Ако търсиш местоимение, те още не работят.</p>
        </div>
        {% else %}
            {% for match, title in no_pattern_dict.items() %}
            <div class="form-suggestion">
                <span>Виж всички примери с тази дума</span>
                <p class="suggestion-lemma">{{ match }}</p>
                <a href='entry/{{ title }}'>Към думата<i class="fas fa-book-open"></i></a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="exact-match-block">
        <div class="exact-title-container">
            {% if not exact_matches_examples %}
                <h1 class="exact-title">Няма намерени примери с точно съвпадение "{{ word }}"</h1>
            {% else %}
                <h1 class="exact-title">Всички примери с точно съвпадение "{{ word }}"</h1>
            {% endif %}
        </div>

        <div class="disclaimer"><p>Понеже нямаме XML файлове, в които да е тагнато къде започва и къде свършва примерът, засега го направих да излиза цялата статия, в която се съдържа търсената форма.</p>
        <p>Веднъж щом тагнем формите в XML файловете, би трябвало да има още повече съвпадения от сега. Пробвайте 'magna, patrem, canis, parte'. Btw. търсенето с диакритики още не работи :(.</p>
        <p>Сега направих просто резултатите да са на една страница, но в крайния продукт, ако са много, ще бъдат на повече страници.</p></div>
        {% for title, matches in exact_matches_examples.items() %}
        <div class="exact-match">
            <div class="match-header">
                <h2 class="match-lemma">{{ title }}</h2>
                <a href='entry/{{ title }}'>Към думата<i class="fas fa-book-open"></i></a>
            </div>
            <ul class="matches-list">
                {% for match in matches %}
                <li><span class="match-example">{{ match|safe }}</span></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}