{% extends "layout.html" %}
{% block content %}
    <div class="site-content"></div><div class="page-search-results">
    <div class="search-group-container">
        <form class="page-search-group">
            <input type="text" class="page-search" value="{{ word }}" name="word" placeholder="Дума" method="GET" action="/search">
            <button type="submit" class="page-search-button">
                <i class="fas fa-search"></i>
                <span>Търси</span>
            </button>
        </form>
    </div>
    <div class="form-recognition-suggestions">
        {% if not no_pattern_dict %}
        <div class="form-suggestion" style='padding-top: 1em;'>
            <p class="suggestion-lemma">Няма съвпадение. (-v.v-) Ако търсиш местоимение, те още не работят.</p>
        </div>
        {% else %}
            {% for match, title in no_pattern_dict.items() %}
            <div class="form-suggestion">
                <span>Виж всички примери с тази дума</span>
                <p class="suggestion-lemma">{{ match }}</p>
                <a href='entry/{{ title }}'>Към думата<i class="fas fa-book-open"></i></a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="exact-match-block">
        <div class="exact-title-container"><h1 class="exact-title">Всички примери с точно съвпадение "{{ word }}"</h1></div>
        
        <div class="exact-match">
            <div class="match-header">
                <h2 class="match-lemma">canis, is, m</h2>
                <a href="#">Към думата<i class="fas fa-book-open"></i></a>
            </div>
            <ul class="matches-list">
                <li><span class="match-example">actum пример 1.1</span><span> - </span><span class="match-translation">някакъв превод</span></li>
                <li><span class="match-example">пример actum пример 1.2</span><span> - </span><span class="match-translation">някакъв превод</span></li>
                <li><span class="match-example">пример actum 1.3</span><span> - </span><span class="match-translation">някакъв превод</span></li>
            </ul>
        </div>

        <div class="exact-match">
            <div class="match-header">
                <h2 class="match-lemma">homo, -inis, m</h2>
                <a href="#">Към думата<i class="fas fa-book-open"></i></a>
            </div>
            <ul class="matches-list">
                <li><span class="match-example">пример actum 2.1</span><span> - </span><span class="match-translation">някакъв превод</span></li>
            </ul>
        </div>

        <div class="exact-match">
            <div class="match-header">
                <h2 class="match-lemma">facio, feci, factus, 3</h2>
                <a href="#">Към думата<i class="fas fa-book-open"></i></a>
            </div>
            <ul class="matches-list">
                <li><span class="match-example">пример actum 3.1</span><span> - </span><span class="match-translation">някакъв превод</span></li>
                <li><span class="match-example">пример actum пример пример 3.2</span><span> - </span><span class="match-translation">някакъв превод</span></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}